<div class="footer">
	<div class="container">
        <h3> Contact Me!</h3>
        <ul>
            <li><strong>Enide Dufresne</strong></li>
            <li>(786) 389-6149</li>
            <li><a href="mailto:enide.dufresne@weareempire.co.uk?subject=I just wanted to say hello...">enide.dufresne@gmail.com</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=14576249&trk=nav_responsive_tab_profile">LinkedIn &bull;</a>  <a target="_blank" href="https://github.com/enidedufresne">GitHub</a></li>
        </ul>
	</div>
</div>
<div class="copyright">© created by Enide Dufresne in 2015
    </div>
