<!--=== Top ===-->

<div class="browse">
  <div class="container">
    <ul>
    	<li><a href="http:/">Home</a></li>
        <li><a href="http:/pages/portfolio">Portfolio</a></li>
        <li><a href="http:/pages/contact">Contact</a></li>
    </ul>
  </div>
</div>

