<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron">
  	<h2>Contact me</h2>
    <h1>Let's Keep in Touch</h1> 
    <p>If you would like me to build out a project or just chat</p>
  </div>
</div>




