<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron">
  	<h2>Contact me</h2>
    <h1>Let's keep in touch</h1> 
    <p>If you'd like me to build a project or to chat about my work</p>
  </div>
</div>

<div class="contact">
  <h1>Enide Dufresne</h1>
  <ul>
  	<li>(786) 389-6149</li>
  	<li><a href="mailto:enide.dufresne@weareempire.co.uk?subject=I just wanted to say hello...">enide.dufresne@gmail.com</a></li>
  	<li><a target="_blank" href="https://www.linkedin.com/profile/view?id=14576249&trk=nav_responsive_tab_profile">LinkedIn &bull;</a>  <a target="_blank" href="https://github.com/enidedufresne">GitHub</a></li>
  </ul>
</div>

