<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron">
  	<h2>Hello, I'm Enide</h2>
    <h1>Welcome to my site!</h1> 
    <p>I love clean code, beautiful design and new ideas!</p>
  </div>
</div>

<div class="skillset">
  <div class="container">
    <h2 class="subtitle">Full Stack Web Development</h2>
    <p class="subtitle">Ruby on Rails, Javascript, HTML, CSS, SQL.</p>
    
    <div class="row skillset-listing">
      <div class="col-md-4">
        
          <div class="pic">
			<img src="/assets/letters.jpg" class="pic-image" alt="Pic"/>
			<span class="pic-caption left-to-right">
				<h1 class="pic-title">Ruby on Rails</h1>
				<h1 class="pic-title">Javascript</h1>
				<h1 class="pic-title">PostgresSQL</h1>
				<p>Clean code that get the job done</p>
			</span>
		
        </div>
      </div>

      <div class="col-md-4">
    
          <div class="pic">
			<img src="/assets/lenses.jpg" class="pic-image" alt="Pic"/>
			<span class="pic-caption left-to-right">
				<h1 class="pic-title">HTML</h1>
				<h1 class="pic-title">CSS</h1>
				<h1 class="pic-title">JQuery & AJAX</h1>
				<p>Great looking interactive sites</p>
			</span>
		</div>          
      
      </div>

      <div class="col-md-4">
      	
         <div class="pic">
			<img src="/assets/tools.jpg" class="pic-image" alt="Pic"/>
			<span class="pic-caption left-to-right">
				<h1 class="pic-title">Web Scrapping</h1>
				<h1 class="pic-title">Test Driven Development</h1>
				<h1 class="pic-title">Git Version Control</h1>
				<p>All the tools of the trade</p>
			</span>
		</div>
		
      </div>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
