<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron">
  	<h2>Portfolio pieces</h2>
    <h1>Links to my work</h1> 
    <p>Check out a few of my favorite projects</p>
  </div>
</div>


	<div class="panel panel-default table-responsive" style="width:75%">
		<table class="table center-table table-bordered table-hover" style="width:75%">
			<thead>
				<tr>
					<th><strong>Project</strong></th>
					<th><strong>Description</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a target="_blank" href="https://musicscholar.co">MUSICscholar.co</td> 
					<td>A site music video trivia app. Visit musicscholar.co</a></td>
				</tr>
					<tr>
					<td><a target="-blank" href="https://github.com/tasiov/honest_box">Honest Box</td> 
					<td>A social app that allows users to remain annonimous to one another </td>
				</tr>
				<tr>
					<td><a target="-blank" href="https://github.com/enidedufresne/LongList-Pagenation">Long List Pagenation</td> 
					<td>Cut down how many list items are displayed on a page </td>
				</tr>
				<tr>
					<td><a target="-blank" href="https://github.com/enidedufresne/Tweeter">Tweeter</td> 
					<td>A microblogging app </td>
				</tr>
				<tr>
					<td><a target="_blank" href="https://github.com/enidedufresne/Picture-Perfect"> Picture Perfect</a></td> 
					<td>A photo gallery/album</td>
				</tr>
				<tr>
					<td><a target="-blank" href="https://github.com/enidedufresne/Magic-Forest">Magic Forest</td> 
					<td>An outline of what it takes to build a site like Amazon.com </td>
				</tr>
				<tr>
					<td><a target="_blank" href="https://gist.github.com/enidedufresne/1feb72cb96e4dcea154b">Grocery List</a></td> 
					<td>Code to keep the groceries in check</td>
				</tr>
				<tr>
					<td><a target="-blank" href="https://gist.github.com/enidedufresne/37333d3d6d0fe4d7b8c7">Tip Calculator</td> 
					<td>Generate the right tip precentage </td>
				</tr>
				<tr>
					<td><a target="-blank" href="https://gist.github.com/enidedufresne/9b7dc6165558dfe8e686">New Year Countdown</td> 
					<td>Bring in the New Year with a countdown</td>
				</tr>
			</tbody>
		</table>
	</div>

<%= render 'shared/footer' %>