<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron">
  	<h2>Portfolio</h2>
    <h1>Links to my work</h1> 
    <p>Check out a few of my favorite projects</p>
  </div>
</div>




<%= render 'shared/footer' %>