/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: 'Inconsolata' !important;
	background-color: #fffbf8 !important;
  color: #2c003a !important;
}
a {
	color: #6b4c75 !important;
}

/* Browse */
.browse {
  background-color: #fffbf8;
  margin-bottom: 20px;
}

.header-nav {
  list-style-type: none;
}

.browse ul,
.footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: right;
}

.browse li {
  color: #6b4c75;
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 10px 12px;
}

.footer {
	text-align: right;
}

.footer li {
  text-align: right;
  color: #2c003a;
  font-size: 17px;
}

.jumbotron {
  /*height: 400px;*/
  width: 100%;
  background-image: url("https://farm9.staticflickr.com/8737/16892935677_eebc535465_b.jpg");
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron h1 {
  padding: 30px 0;
  text-shadow: 0 2px 1px rgba(0,0,0,.2);
  font-size: 42px;
  font-weight: 400;
}
.jumbotron h1, h2, p {
	color: #603364 !important;
}
.jumbotron h2 {
  font-weight: 550;
}
.tumbnail {
	background-color: #fffbf8 !important;
}
.skillset .subtitle {
  padding-left: 14px;
}
.skillset .subtitle p {
  font-size: 18px;
}
.copy-right {
  padding-left: 10px;
  margin-left: 10px;
}
div .contact {
  text-align: center;
  margin: auto;
  color: #603364 !important;
}
.contact li {
  font-size: 25px;
}






.center-table {
  margin: 0 auto !important;
  float: none !important;
  border-radius: 4px;
}
.panel {
  margin: 0 auto ;
  margin-bottom: 20px;
  float: none !important;
  background-color: #fffbf8 !important;
  word-wrap: break-word;
  font-size: 20px;
}


